# Import Libary

In [117]:
import pandas as pd

# Import Data

In [118]:
raw = pd.read_excel("หนี้สินเฉลี่ยต่อครัวเรือน จำแนกตามวัตถุประสงค์ของการกู้ยืม เป็นรายจังหวัด_พ.ศ._2545-2560_edit.xlsx")

In [119]:
raw.head(10)

,ภาค,จังหวัด,วัตถุประสงค์ของการกู้ยืม,2545,2547,2549,2550,2552,2554,2556,2558,2560
0,ภาคกลาง,กรุงเทพมหานคร,หนี้สินทั้งสิ้น,162199.23,160775.93,158059.0,155396.0,207665.0,218741.4,275576.8,164705.6,202699.85
1,ภาคกลาง,กรุงเทพมหานคร,เพื่อใช้จ่ายในครัวเรือน,117724.88,37388.46,31693.0,38184.0,44146.0,57018.3,72056.7,52384.4,65061.29
2,ภาคกลาง,กรุงเทพมหานคร,เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร,44118.82,31081.73,48960.0,27517.0,51720.0,15421.8,16311.5,12717.4,10537.76
3,ภาคกลาง,กรุงเทพมหานคร,เพื่อใช้ทำการเกษตร,85.69,445.82,1189.0,3298.0,600.0,1273.0,709.8,310.9,10.80
4,ภาคกลาง,กรุงเทพมหานคร,เพื่อใช้ในการศึกษา,0.00,0.00,4362.0,4953.0,5249.0,4287.7,3099.1,1229.9,2261.56
5,ภาคกลาง,กรุงเทพมหานคร,เพื่อใช้ซื้อ/เช่าซื้อบ้านและที่ดิน,0.00,86207.61,68779.0,67457.0,102121.0,136961.9,180382.5,97246.0,123080.32
6,ภาคกลาง,กรุงเทพมหานคร,อื่น ๆ,269.82,5652.28,3076.0,13986.0,3830.0,3778.9,3017.1,817.0,1748.11
7,ภาคกลาง,สมุทรปราการ,หนี้สินทั้งสิ้น,84345.14,78750.16,95975.0,85904.0,117361.0,115168.8,207741.1,87647.2,179803.61
8,ภาคกลาง,สมุทรปราการ,เพื่อใช้จ่ายในครัวเรือน,71284.00,23850.24,21393.0,31960.0,33028.0,41836.5,59330.2,40380.0,41492.81
9,ภาคกลาง,สมุทรปราการ,เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร,11070.68,9221.45,5249.0,3570.0,6909.0,2895.4,14035.8,1981.9,3025.70

# Select column

In [120]:
select1 = raw.iloc[:, 0:3]
select2 = raw.iloc[:, 11:12]

# Create key and add to column for merge

In [121]:
lst = []
for i in range(539):
    lst.append(i)

In [122]:
select1["key"] = lst
select2["key"] = lst

In [123]:
select1.head()

       ภาค        จังหวัด           วัตถุประสงค์ของการกู้ยืม  key
0  ภาคกลาง  กรุงเทพมหานคร                    หนี้สินทั้งสิ้น    0
1  ภาคกลาง  กรุงเทพมหานคร            เพื่อใช้จ่ายในครัวเรือน    1
2  ภาคกลาง  กรุงเทพมหานคร  เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร    2
3  ภาคกลาง  กรุงเทพมหานคร                 เพื่อใช้ทำการเกษตร    3
4  ภาคกลาง  กรุงเทพมหานคร                 เพื่อใช้ในการศึกษา    4

In [124]:
select2.head()

        2560  key
0  202699.85    0
1   65061.29    1
2   10537.76    2
3      10.80    3
4    2261.56    4

# Merge column

In [125]:
df = select1.merge(select2, left_on='key', right_on='key')

## Delete key column

In [126]:
del df['key']

# Dept in 2560

In [127]:
df.head(10)

       ภาค        จังหวัด            วัตถุประสงค์ของการกู้ยืม       2560
0  ภาคกลาง  กรุงเทพมหานคร                     หนี้สินทั้งสิ้น  202699.85
1  ภาคกลาง  กรุงเทพมหานคร             เพื่อใช้จ่ายในครัวเรือน   65061.29
2  ภาคกลาง  กรุงเทพมหานคร   เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร   10537.76
3  ภาคกลาง  กรุงเทพมหานคร                  เพื่อใช้ทำการเกษตร      10.80
4  ภาคกลาง  กรุงเทพมหานคร                  เพื่อใช้ในการศึกษา    2261.56
5  ภาคกลาง  กรุงเทพมหานคร  เพื่อใช้ซื้อ/เช่าซื้อบ้านและที่ดิน  123080.32
6  ภาคกลาง  กรุงเทพมหานคร                              อื่น ๆ    1748.11
7  ภาคกลาง    สมุทรปราการ                     หนี้สินทั้งสิ้น  179803.61
8  ภาคกลาง    สมุทรปราการ             เพื่อใช้จ่ายในครัวเรือน   41492.81
9  ภาคกลาง    สมุทรปราการ   เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร    3025.70

In [128]:
count = 0
for i in df.index:
    num = i-count
    if df.iloc[num]["วัตถุประสงค์ของการกู้ยืม"] == "หนี้สินทั้งสิ้น":
        df = df.drop([i])
        count += 1
df.head(10)

        ภาค        จังหวัด            วัตถุประสงค์ของการกู้ยืม       2560
1   ภาคกลาง  กรุงเทพมหานคร             เพื่อใช้จ่ายในครัวเรือน   65061.29
2   ภาคกลาง  กรุงเทพมหานคร   เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร   10537.76
3   ภาคกลาง  กรุงเทพมหานคร                  เพื่อใช้ทำการเกษตร      10.80
4   ภาคกลาง  กรุงเทพมหานคร                  เพื่อใช้ในการศึกษา    2261.56
5   ภาคกลาง  กรุงเทพมหานคร  เพื่อใช้ซื้อ/เช่าซื้อบ้านและที่ดิน  123080.32
6   ภาคกลาง  กรุงเทพมหานคร                              อื่น ๆ    1748.11
8   ภาคกลาง    สมุทรปราการ             เพื่อใช้จ่ายในครัวเรือน   41492.81
9   ภาคกลาง    สมุทรปราการ   เพื่อใช้ทำธุรกิจที่ไม่ใช่การเกษตร    3025.70
10  ภาคกลาง    สมุทรปราการ                  เพื่อใช้ทำการเกษตร     212.26
11  ภาคกลาง    สมุทรปราการ                  เพื่อใช้ในการศึกษา     568.94

# ข้อมูลหนี้สินทั้งสิ้น.

In [129]:
all_dept = df[df.วัตถุประสงค์ของการกู้ยืม == "หนี้สินทั้งสิ้น"]
del all_dept["วัตถุประสงค์ของการกู้ยืม"]

In [130]:
all_dept.sample(10)

ValueError: 'a' must be greater than 0 unless no samples are taken

In [131]:
# ALL Data

# df.head()
# all_dept.head()
#